QWidget
{
font: 11pt url(:/fonts/DejaVuSerifurl.ttf);
background-color: black;
color: yellow;
}

QWidget *
{
background-color: transparent;
color: black;
}

QWidget QLabel
{
padding-top: 4px;
padding-bottom: 2px;
color: yellow;
}

QWidget *:focus
{
background-color: #666666;
border: 2px solid yellow;
border-radius: 4px;
}

*[tittleField="true"]
{
background-color: #014717;
font: 16pt url(:/fonts/DejaVuSerifurl-Bold.ttf);
color: white;
}
*[tittleField="true"] QLabel
{
border-width: 0px;
background-color: #014717;
color: white;
}

*[errorField="true"]
{
border: 2px solid white;
border-radius: 4px;
background-color: red;
color: white;
}

*[subTittleField="true"]
{
border: 0px solid #013612;
color: white;
background-color: #013612;
}

*[subTittleField="true"] *
{
border: 0px solid #013612;
background-color: #013612;
color: orange;
}


*[subField="true"]
{
background-color: black;
}

*[subField="true"] *
{
background-color: black;
}

*[propertyId="true"]
{
color: white;
}

*[isEditingField="true"]
{
color: white;
}

* QToolButton
{
border-style: solid;
border-width: 2px;
border-radius: 4px;
border-color: white;
color: white;
background-color: transparent;
font: 12pt url(:/fonts/DejaVuSerifurl-Bold.ttf);;
}

* QToolButton:focus
{
border-style: solid;
border-width: 2px;
border-radius: 4px;
border-color: yellow;
color: white;
background-color: #666666;
font: 12pt url(:/fonts/DejaVuSerifurl-Bold.ttf);
}

* QPushButton
{
margin-top: 3px;
margin-right: 1px;
margin-bottom: 3px;
margin-left: 0px;
padding: 7px;
border-style: solid;
border-width: 2px;
border-radius: 4px;
border-color: white;
background-color: #013612;
color: white;
font: 12pt url(:/fonts/DejaVuSerifurl-Bold.ttf);
}

* QPushButton:focus
{
color: white;
border-style: solid;
border-width: 2px;
border-radius: 4px;
border-color: yellow;
background-color: #666666;
font: 12pt url(:/fonts/DejaVuSerifurl-Bold.ttf);
}

IpAddressBox QLabel
{
padding: 0px;
margin: 0px;
color: yellow;
}

IpAddressBox:focus
{
padding: 0px;
margin: 0px;
background-color: #666666;
color: yellow;
}

IpAddressBox:focus QLabel
{
background-color: transparent;
color: yellow;
}

IpAddressBox QLabel:focus
{
border-style: solid;
border-width: 1px;
border-radius: 4px;
border-color: yellow;
background-color: #666666;
color: white;
}

QScrollArea
{
background-color: transparent;
}

QScrollBar:vertical
{
background: black;
background-color: black;
margin-left: 0px;
width: 5px;
}

QScrollBar::handle:vertical
{
background: #666666;
border: 1px solid #666666;
border-radius: 6px;
min-height: 40px;
}

QScrollBar::add-line:vertical
{
border: none;
background: none;
height: 0px;
}

QScrollBar::sub-line:vertical
{
border: none;
background: none;
height: 0px;
}

QCheckBox::indicator {
width: 35px;
height: 20px;
}

QCheckBox::indicator:unchecked {
image: url(:/images/checkbox_unchecked.png);
}

QCheckBox::indicator:checked {
image: url(:/images/checkbox_checked.png);
}
